.github
.husky
.idea
container
tests
test-results
coverage
.dockerignore
.env.example
.env
.npmrc
.prettierignore
.prettierrc
compose.yaml
eslint.config.cs
README.md
playwright.config.ts
pnpm-workspace.yaml
